* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.main-container {
  padding: 0 5px;
}

.messages {
  display: flex;
  margin: 0 5px;
  justify-content: space-between;
}

.message-col {
  width: 30%;
  margin: 0 2px;
  padding: 6px 10px;
}

.message-col-list {
  max-height: 70vh;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

.message-col h3 {
  margin-bottom: 0;
}

.message-col span {
  margin-bottom: 20px;
}

.message {
  height: 90px;
  padding: 20px;
  border-radius: 4px;
  position: relative;
  margin: 8px 0;
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.2);
}

.message.error {
  background-color: #f56236;
}

.message.warning {
  background-color: #fce788;
}

.message.info {
  background-color: #88fca3;
}

.message .clear {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-weight: 700;
  cursor: pointer;
}

.action-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

button.clear,
button.stop {
  border: 0;
  padding: 4px 10px;
  font-size: 1.2em;
  margin: 2px;
  border-radius: 4px;
  background-color: rgb(43, 228, 43);
  color: #000;
  box-shadow: 1px 1px 0px rgb(0, 0, 0, 0.2);
  cursor: pointer;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  color: rgb(0, 0, 0, 0.6);
  height: 200px;
  font-size: 1.3em;
}

.snackbar {
  position: fixed;
  bottom: 50px;
  width: 400px;
  background-color: #f44336;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.4);
  color: #fff;
  left: calc(50% - 100px);
}

.snackbar-content .close {
  float: right;
  cursor: pointer;
}
